<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<title>BookList</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
<div class="col-md-4">
		<h1>Books</h1>
	</div>
	<div class="col-md-4">
		<h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
	</div>
	<div class="col-md-4" style="padding:20px 0">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-danger"/>
		</form>
	</div>
	<table class="table table-striped">
		<tr>
			<th>Title</th>
			<th>Author</th>
			<th>Isbn</th>
			<th>Year</th>
			<th>Category</th>	
		</tr>

		<tr th:each="Book : ${books}">
			<td th:text="${Book.title}">Title</td>
			<td th:text="${Book.author}">Author</td>
			<td th:text="${Book.isbn}">Isbn</td>
			<td th:text="${Book.year}">Year</td>
			<td th:text="${Book.category}">Category</td>
			<td sec:authorize="hasRole('ADMIN')"><a  th:href="@{/deletebook/{id}(id=${Book.id})}" class="btn btn-danger">Delete</a></td>
			<td><a th:href="@{/editbook/{id}(id=${Book.id})}">Edit</a></td>
		</tr>
	</table>
	<a href="/savebook" class="btn btn-success" >New Book</a>

</body>
</html>