<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Book form</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Book</h1>
	<form action="#" th:action="@{/index}"  th:object= ${Book} method="post">
	<p>Title: <input type="text" th:field="${Book.title}" /></p>
	<p>Author: <input type="text" th:field="${Book.author}" /></p>
	<p>Isbn: <input type="text" th:field="${Book.isbn}" /></p>
	<p>Year: <input type="text" th:field="${Book.year}" /></p>
	<input type="submit" value="Submit" /> <input type="reset" value="Reset" />
	</form>
    
</body>
</html>